@font-face {
   font-family: 'Dancing Script';
   font-style: normal;
   font-weight: 700;
   src: url('file:///C:/Users/amanr/OneDrive/Documents/GitHub/aman//fonts/Dancing Script/700.ttf') format('truetype');
}
@font-face {
   font-family: 'Dancing Script';
   font-style: regular;
   font-weight: 400;
   src: url('file:///C:/Users/amanr/OneDrive/Documents/GitHub/aman//fonts/Dancing Script/regular.ttf') format('truetype');
}
